.foot{
    background-color: rgb(199, 192, 192);
    padding-top: 2rem;
    margin-top: 1rem;
    height: max-content;
    width: 100%;
}

.info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    justify-content: space-around;
    grid-gap: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.2rem;
}

.right{
 font-size: small;
 text-align: center;
 margin-top: 2rem;
 margin-bottom: 1rem;
}
.word{
    padding-top: .5rem;
}

.social2{
    border-top: 2px orangered solid;
    border-bottom: 2px orangered solid;
}